.delivery {
  padding: 10rem 0 16rem;

  // .delivery__inner

  &__inner {
  }

  // .delivery__title

  &__title {
    margin-bottom: 4.8rem;
  }

  // .delivery_content-wrapper

  &__content-wrapper {
    display: grid;
    grid-template-columns: 0.34fr 0.075fr 0.6fr;
    gap: 2rem;
  }

  // .delivery_content-block

  &__content-block {
    background-color: $light-grey;
    padding: 5rem;
  }

  // .delivery_content-block--rus

  &__content-block--rus {
    grid-column: 1/3;
  }

  // .delivery_content-block--msk

  &__content-block--msk {
  }
  // .delivery_content-block--pickup

  &__content-block--pickup {
  }
  // .delivery_content-block--map

  &__content-block--map {
    grid-column: 2/4;
    padding: 0;
    & #map {
      width: 100%;; height: 100%;
    }
  }

  // .delivery_content-title

  &__content-title {
    margin-bottom: 3.2rem;
    color: $black;
    font-family: "Inter";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
  }

  &__content-text-block {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  // .delivery__content-text

  &__content-text {
    &--red {
        color: $red;
     }
  }

  // .delivery__content-text--tel

  &__content-text--tel {
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    display: block;
  }

  // .delivery__content-companies

  &__content-companies {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 8.6rem;
  }

  // .delivery__content-company

  &__content-company {
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }

  // .delivery__content-company-img-box

  &__content-company-img-box {
    &--baikal {
      width: 3.2rem;
      height: 4.6rem;
    }
    &--line {
      width: 5rem;
      height: 4.4rem;
    }
    & img {
      object-fit: contain;
    }
  }

  // .delivery__content-company-title

  &__content-company-title {
  }

  // .delivery__content-list

  &__content-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 55rem;
  }
  // .delivery__content-item

  &__content-item {
    padding-left: 2.4rem;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 0.8rem;
      height: 0.8rem;
      background-color: $red;
      border-radius: 50%;
      left: 0;
      top: 1.1rem;
    }
  }

  // .delivery__content-link

  &__content-link {
    padding: 1.4rem 1.8rem;
    display: block;
    width: fit-content;


  }

  // .delivery__content-adress-list

  &__content-adress-list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  // .delivery__content-adress-item

  &__content-adress-item {

  }

  // .delivery__content-btn

  &__content-btn {
    padding: 1.85rem 4rem;
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  // .delivery__content-btn-img-box

  &__content-btn-img-box {
 width: 2.4rem;
 height: 2.4rem;

  }
  // .delivery__content-btn-img

  &__content-btn-img {
 object-fit: contain;
  }
}




@media (max-width: 48em) {

  .delivery {
    padding: 14.4rem 0 20rem;
  
    // .delivery__inner
  
    &__inner {
    }
  
    // .delivery__title
  
    &__title {
      margin-bottom: 6.4rem;
    }
  
    // .delivery_content-wrapper
  
    &__content-wrapper {
      grid-template-columns: 1fr;
      gap: 4rem;
    }
  
    // .delivery_content-block
  
    &__content-block {
      background-color: $light-grey;
      padding: 6.4rem 4rem ;
    }
  
    // .delivery_content-block--rus
  
    &__content-block--rus {
      grid-column: 1/2;
      & .delivery__content-title {
        & br {
          display: none;
        }
      }
    }
  
    // .delivery_content-block--msk
  
    &__content-block--msk {
    }
    // .delivery_content-block--pickup
  
    &__content-block--pickup {
      & .delivery__content-title {
       max-width: 40rem;
      }
    }
    // .delivery_content-block--map
  
    &__content-block--map {
      grid-column: 1/2;
      padding: 0 ;
      overflow: hidden;
      height: 55rem;
    }
  
    // .delivery_content-title
  
    &__content-title {
      margin-bottom: 4.8rem;
      font-size: 4rem;
      letter-spacing: 0.4px;
    }
  
    &__content-text-block {
      gap: 2.4rem;
    }
    // .delivery__content-text
  
    &__content-text {
      &--red {
          color: $red;
       }

    }
  
    // .delivery__content-text--tel
  
    &__content-text--tel {
      margin-top: 4rem;
      margin-bottom: 5.6rem;
    }
  
    // .delivery__content-companies
  
    &__content-companies {
      flex-direction: column;
      align-items: start;
      gap: 4rem;
    }
  
    // .delivery__content-company
  
    &__content-company {
      justify-content: space-between;
      max-width: 33rem;
      width: 100%;
    }
  
    // .delivery__content-company-img-box
  
    &__content-company-img-box {
      &--baikal {
        width: 5.2rem;
        height: 7.2rem;
      }
      &--line {
        width: 7.2rem;
        height: 6.4rem;
      }
      & img {
        object-fit: contain;
      }
    }
  
    // .delivery__content-company-title
  
    &__content-company-title {
    }
  
    // .delivery__content-list
  
    &__content-list {
      gap: 3.2rem;
      max-width: 55.5rem;
    }
    // .delivery__content-item
  
    &__content-item {
      padding-left: 4.8rem;
      &::before {
        width: 1.6rem;
        height: 1.6rem;
        top: 1.4rem;
      }

    }
  
    // .delivery__content-link
  
    &__content-link {
      padding: 2rem 3.6rem;
      font-size:2.8rem;
      line-height: 140%;

    }
  
    // .delivery__content-adress-list
  
    &__content-adress-list {
      gap: 3.2rem;
    }
  
    // .delivery__content-adress-item
  
    &__content-adress-item {
  
    }
  
    // .delivery__content-btn
  
    &__content-btn {
      padding: 3.2rem 7.5rem;
      margin-top: 4.8rem;
      font-size: 3.2rem;
      gap: 1.6rem;
      // white-space: nowrap;


    }

  // .delivery__content-btn-img-box

  &__content-btn-img-box {
    width: 4.8rem;
    height: 4.8rem;
   
     }
     // .delivery__content-btn-img
   
     &__content-btn-img {
    object-fit: contain;
     }

  }
  


}