.form {
  padding: 8rem 0;
  // .form__inner

  &__inner {
    display: flex;
  }

  // .form__form

  &__form {
    flex-basis: 50%;
    background-color: $light-grey;
    padding: 12rem 7.8rem;
  }

  // .form__title

  &__title {
    max-width: 32.4rem;
  }

  // .form__input-box

  &__input-box {
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem 5.6rem;
  }

  // .form__input

  &__input {
    padding-bottom: 1.6rem;
    border-bottom: 1px solid $grey;
    transition: border-bottom 0.3s;
    height: 3.8rem;
    &::placeholder {
        color:$grey;
        transition: color 0.3s;
    }

    &:active::placeholder,
    &:focus::placeholder {
        color:$black;
    }
    &:active,
    &:focus {
        border-bottom: 1px solid $black;
    }
    &:nth-child(3) {
        align-self: flex-end;
    }
  }

  // .form__btn

  &__btn {
  }

  // .form__content

  &__content {
    flex-basis: 50%;
    background: url(./assets/images/form_bg.webp) no-repeat top/cover;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // .form__content-row

  &__content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--top {
      align-items: center;
    }
    &--bottom {
      align-items: flex-end;
    }
  }

  // .form__content-link-main

  &__content-link-main {
    font-family: "Inter";
    padding: 1.4rem 4.5rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10rem;
    border: 1px solid $black;
  }

  // .form__content-link-tel

  &__content-link-tel {

  }

  // .form__content-link-tel-svg-box

  &__content-link-tel-svg-box {
    width: 2.4rem;
    height: 2.4rem;
    & svg {
        object-fit: contain;
    }
  }
}
