<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__logo">
        <img src="./assets/images/icons/logo.svg" alt="">
      </div>
      <div class="footer__nav">
        <div class="footer__nav-list">
          <div class="footer__nav-list-title title-s">Категории</div>
          <ul>
            <li>
              <a class="text-sm" href="#0">Однокомпонентные полиуретановые герметики 600 мл</a>
            </li>
            <li>
              <a class="text-sm" href="#0">Однокомпонентные полиуретановые герметики в цвет RAL</a>
            </li>
            <li>
              <a class="text-sm" href="#0">Клеи-герметики</a>
            </li>
            <li>
              <a class="text-sm" href="#0">Акриловые герметики</a>
            </li>
            <li>
              <a class="text-sm" href="#0">Двухкомпонентные полиуретановые герметики</a>
            </li>
            <li>
              <a class="text-sm" href="#0">Прочая продукция</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav-list">
          <div class="footer__nav-list-title title-s">Покупателям</div>
          <ul>
            <li>
              <a class="text-sm" href="#0">Каталог</a>
            </li>
            <li>
              <a class="text-sm" href="#0">О компании</a>
            </li>
            <li>
              <a class="text-sm" href="#0">Оплата и доставка</a>
            </li>
            <li>
              <a class="text-sm" href="#0">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav-list">
          <div class="footer__nav-list-title title-s">Свяжитесь с нами</div>
          <ul>
            <li>
              <a class="text-sm" href="#0">info@germetic-rus.ru</a>
            </li>
            <li>
              <a class="text-sm" href="#0">8 (495) 120-23-29</a>
            </li>
            <li>
              <a class="text-sm" href="#0">WhatsApp</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-text text-sm">© 2023 RUSTIL</div>
      <a class="footer__bottom-text text-sm" href="#0">Информация, размещенная на сайте, не является публичной офертой</a>
      <a class="footer__bottom-logo" href="#0">
        <img src="./assets/images/icons/request-logo.svg" alt="">
      </a>
    </div>
  </div>
</footer>