<header class="header">
  <div class="header__top">
    <div class="header__top-image">
      <img src="./assets/images/icons/logo.svg" alt="">
    </div>
    <nav class="header__top-nav">
      <ul>
        <li class="header__top-nav-item text-sm">
          <a href="#0">Каталог</a>
        </li>
        <li class="header__top-nav-item text-sm">
          <a href="#0">О компании</a>
        </li>
        <li class="header__top-nav-item text-sm">
          <a href="#0">Оплата и доставка</a>
        </li>
        <li class="header__top-nav-item text-sm">
          <a href="#0">Контакты</a>
        </li>
      </ul>
    </nav>
    <form class="header__search">
      <input type="text" placeholder="Поиск товаров">
      <button class="header__search-button">
        <img src="./assets/images/icons/search.svg" alt="">
      </button>
    </form>
    <div class="header__top-contacts-wrap">
      <div class="header__top-contacts">
        <a class="header__top-contacts-tel" href="#0">8 (495) 120-23-29</a>
        <a class="header__top-contacts-mail text-sm" href="#0">info@germetic-rus.ru</a>
      </div>
      <div class="header__top-contacts-icon circle">
        <img src="./assets/images/icons/call.svg" alt="">
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom-list">
      <div class="header__bottom-item dropdown">
        <span>Полиуретановые герметики 600 мл</span>
        <div class="header__dropdown">
          <div class="header__dropdown-list-wrap">
            <span class="header__dropdown-list-title">Цвет</span>
            <div class="header__dropdown-list">
              <ul>
                <li>
                  <a class="text-sm" href="#0">Цвета RAL</a>
                </li>
                <li>
                  <a class="text-sm" href="#0">Белый</a>
                </li>
                <li>
                  <a class="text-sm" href="#0">Серый</a>
                </li>
                <li>
                  <a class="text-sm" href="#0">Светло-серый</a>
                </li>
                <li>
                  <a class="text-sm" href="#0">Темно-серый</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a class="text-sm" href="#0">Черный</a>
                </li>
                <li>
                  <a class="text-sm" href="#0">Коричневый</a>
                </li>
                <li>
                  <a class="text-sm" href="#0">Темно-коричневый</a>
                </li>
                <li>
                  <a class="text-sm" href="#0">Бежевый</a>
                </li>
                <li>
                  <a class="text-sm" href="#0">Желтый</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="header__dropdown-card">
            <div class="header__dropdown-card-image">
              <img src="./assets/images/card-image.webp" alt="">
            </div>
            <div class="header__dropdown-card-text text">Акриловый морозостойкий герметик Рустил Акрил 15 кг белый</div>
          </div>
          <div class="header__dropdown-card">
            <div class="header__dropdown-card-image">
              <img src="./assets/images/card-image2.webp" alt="">
            </div>
            <div class="header__dropdown-card-text text">Полиуретановый герметик Рустил 1К PU25 600 мл RAL7004</div>
          </div>
        </div>
      </div>
      <div class="header__bottom-item dropdown">
        <span>Герметики RAL</span>
        <div class="header__dropdown">
          <div class="header__dropdown-list-wrap">
            <div class="header__dropdown-list">
              <ul>
                <li>
                  <a class="header__dropdown-list-item text-sm" href="#0">Полиуретановые герметик RAL</a>
                </li>
                <li>
                  <a class="header__dropdown-list-item text-sm" href="#0">Герметики RAL</a>
                </li>
                <li>
                  <a class="header__dropdown-list-item text-sm" href="#0">Серые герметики</a>
                </li>
                <li>
                  <a class="header__dropdown-list-item text-sm" href="#0">Коричневые герметики</a>
                </li>
                <li>
                  <a class="header__dropdown-list-item text-sm" href="#0">Бежевые герметики</a>
                </li>
                <li>
                  <a class="header__dropdown-list-item text-sm" href="#0">Цветные герметики</a>
                </li>
                <li>
                  <a class="header__dropdown-list-item text-sm" href="#0">Белые полиуретановые герметики</a>
                </li>
                <li>
                  <a class="header__dropdown-list-item text-sm" href="#0">Черные полиуретановые герметики</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="header__dropdown-card">
            <div class="header__dropdown-card-image">
              <img src="./assets/images/card-image.webp" alt="">
            </div>
            <div class="header__dropdown-card-text text">Акриловый морозостойкий герметик Рустил Акрил 15 кг белый</div>
          </div>
          <div class="header__dropdown-card">
            <div class="header__dropdown-card-image">
              <img src="./assets/images/card-image2.webp" alt="">
            </div>
            <div class="header__dropdown-card-text text">Полиуретановый герметик Рустил 1К PU25 600 мл RAL7004</div>
          </div>
        </div>
      </div>
      <div class="header__bottom-item">
        <span>Клей-герметики</span>
      </div>
      <div class="header__bottom-item">
        <span>Двухкомпонентные герметики</span>
      </div>
      <div class="header__bottom-item">
        <span>Акриловые герметики</span>
      </div>
      <div class="header__bottom-item">
        <span>Прочая продукция</span>
      </div>
    </div>
  </div>
</header>
