<div class="modal success-purchase">
  <div class="modal__wrapper">
    <div class="modal__content">
      <div class="modal__content-title title-sm">Ваша заявка отправлена</div>
      <div class="modal__content-text text">Благодарим вас за покупку, в ближайшее время с вами свяжется наш менеджер для уточнения деталей.</div>
      <button
        class="button button__arr button__arr--sg"
        type="button"
      >
         На главную
        <div class="form__button-svg-box button__arr-svg-box">
          <img
            src="./assets/images/icons/arr_right_white.svg"
            alt="стрелка вправо"
          />
        </div>
      </button>
  </div>
    <div class="modal__close">
      <img src="./assets/images/icons/cross-black.svg" alt="">
    </div>
  </div>
</div>

<div class="modal success-application">
  <div class="modal__wrapper">
    <div class="modal__content">
      <div class="modal__content-title title-sm">Спасибо за завку!</div>
      <div class="modal__content-text text">Наши менеджеры свяжутся с Вами в ближайшее время</div>
      <button
        class="button button__arr button__arr--sg"
        type="button"
      >
         На главную
        <div class="form__button-svg-box button__arr-svg-box">
          <img
            src="./assets/images/icons/arr_right_white.svg"
            alt="стрелка вправо"
          />
        </div>
      </button>
  </div>
    <div class="modal__close">
      <img src="./assets/images/icons/cross-black.svg" alt="">
    </div>
  </div>
</div>