<section class="popular">
    <div class="container">
      <div class="popular__content-inner">
        <div class="popular__header">
          <h2 class="popular__title title">Популярные товары</h2>
          <a href="#" class="popular__header-btn button button__arr">В каталог
          <div class="popular__button-svg-box button__arr-svg-box">
            <img src="./assets/images/icons/arr_right_white.svg" alt="стрелка вправо">
          </div>
        </a>
        </div>
        <div class="popular__swiper-box">
        <div class="popular__swiper swiper">
          <div class="popular__swiper-wrapper swiper-wrapper">
            <div class="popular__swiper-slide swiper-slide">
              <a href="#" class="popular__card-link">
                <div class="popular__card">
                  <div class="popular__card-img-box">
                    <img src="./assets/images/popular_1.webp" alt="" />
                  </div>

                  <div class="popular__card-content">
                    <h4 class="popular__card-title">
                      Акриловый морозостойкий герметик Рустил Акрил 15 кг
                      белый
                    </h4>
                    <div class="popular__card-price-box">
                      <div class="popular__card-price-wrapper">
                        <p class="popular__card-price text-sm">
                          <span class="popular__card-price-num">680</span>
                          <span class="popular__card-price-text">₽/шт.</span>
                        </p>
                      </div>

                      <div class="popular__card-price-wrapper  popular__card-price-wrapper--wholesale">
                        <p class="popular__card-wholesale-text">Опт:</p>
                        <p
                          class="popular__card-price"
                        >
                          <span class="popular__card-price-num">630</span>
                          <span class="popular__card-price-text">₽/шт.</span>
                        </p>
                      </div>
                    </div>
                    <button class="popular__card-btn button">
                      <div class="popular__card-btn-svg-box">
                        <img src="./assets/images/icons/buy.svg" alt="Купить">
                      </div>
                      Купить</button>
                  </div>
                </div>
              </a>
            </div>
            <div class="popular__swiper-slide swiper-slide">
              <a href="#" class="popular__card-link">
                <div class="popular__card">
                  <div class="popular__card-img-box">
                    <img src="./assets/images/popular_2.webp" alt="" />
                  </div>

                  <div class="popular__card-content">
                    <h4 class="popular__card-title">
                      Полиуретановый герметик Рустил 1К PU25 600 мл RAL7004
                    </h4>
                    <div class="popular__card-price-box">
                      <div class="popular__card-price-wrapper">
                        <p class="popular__card-price text-sm">
                          <span class="popular__card-price-num">680</span>
                          <span class="popular__card-price-text">₽/шт.</span>
                        </p>
                      </div>

                      <div class="popular__card-price-wrapper  popular__card-price-wrapper--wholesale">
                        <p class="popular__card-wholesale-text">Опт:</p>
                        <p
                          class="popular__card-price"
                        >
                        <span class="popular__card-price-num">630</span>
                          <span class="popular__card-price-text">₽/шт.</span>
                        </p>
                      </div>
                    </div>
                    <button class="popular__card-btn button">
                      <div class="popular__card-btn-svg-box">
                        <img src="./assets/images/icons/buy.svg" alt="Купить">
                      </div>
                      Купить</button>
                  </div>
                </div>
              </a>
            </div>
            <div class="popular__swiper-slide swiper-slide">
              <a href="#" class="popular__card-link">
                <div class="popular__card">
                  <div class="popular__card-img-box">
                    <img src="./assets/images/popular_1.webp" alt="" />
                  </div>

                  <div class="popular__card-content">
                    <h4 class="popular__card-title">
                      Акриловый морозостойкий герметик Рустил Акрил 15 кг
                      белый
                    </h4>
                    <div class="popular__card-price-box">
                      <div class="popular__card-price-wrapper">
                        <p class="popular__card-price text-sm">
                          <span class="popular__card-price-num">680</span>
                          <span class="popular__card-price-text">₽/шт.</span>
                        </p>
                      </div>

                      <div class="popular__card-price-wrapper  popular__card-price-wrapper--wholesale">
                        <p class="popular__card-wholesale-text">Опт:</p>
                        <p
                          class="popular__card-price"
                        >
                        <span class="popular__card-price-num">630</span>
                          <span class="popular__card-price-text">₽/шт.</span>
                        </p>
                      </div>
                    </div>
                    <button class="popular__card-btn button">
                      <div class="popular__card-btn-svg-box">
                        <img src="./assets/images/icons/buy.svg" alt="Купить">
                      </div>
                      Купить</button>
                  </div>
                </div>
              </a>
            </div>
            <div class="popular__swiper-slide swiper-slide">
              <a href="#" class="popular__card-link">
                <div class="popular__card">
                  <div class="popular__card-img-box">
                    <img src="./assets/images/popular_2.webp" alt="" />
                  </div>

                  <div class="popular__card-content">
                    <h4 class="popular__card-title">
                      Полиуретановый герметик Рустил 1К PU25 600 мл RAL7004
                    </h4>
                    <div class="popular__card-price-box">
                      <div class="popular__card-price-wrapper">
                        <p class="popular__card-price text-sm">
                          <span class="popular__card-price-num">680</span>
                          <span class="popular__card-price-text">₽/шт.</span>
                        </p>
                      </div>

                      <div class="popular__card-price-wrapper  popular__card-price-wrapper--wholesale">
                        <p class="popular__card-wholesale-text">Опт:</p>
                        <p
                          class="popular__card-price"
                        >
                        <span class="popular__card-price-num">630</span>
                          <span class="popular__card-price-text">₽/шт.</span>
                        </p>
                      </div>
                    </div>
                    <button class="popular__card-btn button">
                      <div class="popular__card-btn-svg-box">
                        <img src="./assets/images/icons/buy.svg" alt="Купить">
                      </div>
                      Купить</button>
                  </div>
                </div>
              </a>
            </div>
            <div class="popular__swiper-slide swiper-slide">
              <a href="#" class="popular__card-link">
                <div class="popular__card">
                  <div class="popular__card-img-box">
                    <img src="./assets/images/popular_1.webp" alt="" />
                  </div>

                  <div class="popular__card-content">
                    <h4 class="popular__card-title">
                      Акриловый морозостойкий герметик Рустил Акрил 15 кг
                      белый
                    </h4>
                    <div class="popular__card-price-box">
                      <div class="popular__card-price-wrapper">
                        <p class="popular__card-price text-sm">
                          <span class="popular__card-price-num">680</span>
                          <span class="popular__card-price-text">₽/шт.</span>
                        </p>
                      </div>

                      <div class="popular__card-price-wrapper  popular__card-price-wrapper--wholesale">
                        <p class="popular__card-wholesale-text">Опт:</p>
                        <p
                          class="popular__card-price"
                        >
                        <span class="popular__card-price-num">630</span>
                          <span class="popular__card-price-text">₽/шт.</span>
                        </p>
                      </div>
                    </div>
                    <button class="popular__card-btn button">
                      <div class="popular__card-btn-svg-box">
                        <img src="./assets/images/icons/buy.svg" alt="Купить">
                      </div>
                      Купить</button>
                  </div>
                </div>
              </a>
            </div>

            
          </div>
       
        </div>
        <div class=" swiper-button-prev popular__swiper-button-prev btn-swiper">
          <img src="./assets/images/icons/arrow_left.svg" alt="Стрелка влево">
        </div>
        <div class=" swiper-button-next popular__swiper-button-next btn-swiper">
          <img src="./assets/images/icons/arrow_right.svg" alt="Стрелка вправо">
        </div>
      </div>
      </div>
    </div>
  </section>