<section class="popular-goods">
  <div class="container">
    <div class="popular-goods__content-inner">
      <div class="popular-goods__header">
        <p class="popular-goods__title title">Популярные товары</p>
        <a href="#" class="popular-goods__header-btn button button__arr"
          >В каталог
          <div class="popular-goods__button-svg-box button__arr-svg-box">
            <img
              src="./assets/images/icons/arr_right_white.svg"
              alt="стрелка вправо"
            />
          </div>
        </a>
      </div>
      <div class="popular-goods__swiper-box">
        <div class="popular-goods__swiper swiper">
          <div class="popular-goods__swiper-wrapper swiper-wrapper">
            <div class="popular-goods__swiper-slide swiper-slide">
              <a href="#" class="popular-goods__card-link">
                <div class="popular-goods__card">
                  <div class="popular-goods__card-img-box">
                    <img src="./assets/images/popular_goods_1.webp" alt="" />
                  </div>

                  <div class="popular-goods__card-content">
                    <p class="popular-goods__card-title">
                      Акриловый морозостойкий герметик Рустил Акрил 15 кг белый
                    </p>
                    <div class="popular-goods__card-price-box">
                      <div class="popular-goods__card-price-wrapper">
                        <p class="popular-goods__card-price text-sm">
                          <span class="popular-goods__card-price-num">680</span>
                          <span class="popular-goods__card-price-text"
                            >₽/шт.</span
                          >
                        </p>
                      </div>

                      <div
                        class="popular-goods__card-price-wrapper popular-goods__card-price-wrapper--wholesale"
                      >
                        <p class="popular-goods__card-wholesale-text">Опт:</p>
                        <p class="popular-goods__card-price">
                          <span class="popular-goods__card-price-num">630</span>
                          <span class="popular-goods__card-price-text"
                            >₽/шт.</span
                          >
                        </p>
                      </div>
                    </div>
                    <button class="popular-goods__card-btn button">
                      <div class="popular-goods__card-btn-svg-box">
                        <img src="./assets/images/icons/buy.svg" alt="Купить" />
                      </div>
                      Купить
                    </button>
                  </div>
                </div>
              </a>
            </div>
            <div class="popular-goods__swiper-slide swiper-slide">
              <a href="#" class="popular-goods__card-link">
                <div class="popular-goods__card">
                  <div class="popular-goods__card-img-box">
                    <img src="./assets/images/popular_goods_2.webp" alt="" />
                  </div>

                  <div class="popular-goods__card-content">
                    <p class="popular-goods__card-title">
                      Полиуретановый герметик Рустил 1К PU25 600 мл RAL7004
                    </p>
                    <div class="popular-goods__card-price-box">
                      <div class="popular-goods__card-price-wrapper">
                        <p class="popular-goods__card-price text-sm">
                          <span class="popular-goods__card-price-num">680</span>
                          <span class="popular-goods__card-price-text"
                            >₽/шт.</span
                          >
                        </p>
                      </div>

                      <div
                        class="popular-goods__card-price-wrapper popular-goods__card-price-wrapper--wholesale"
                      >
                        <p class="popular-goods__card-wholesale-text">Опт:</p>
                        <p class="popular-goods__card-price">
                          <span class="popular-goods__card-price-num">630</span>
                          <span class="popular-goods__card-price-text"
                            >₽/шт.</span
                          >
                        </p>
                      </div>
                    </div>
                    <button class="popular-goods__card-btn button">
                      <div class="popular-goods__card-btn-svg-box">
                        <img src="./assets/images/icons/buy.svg" alt="Купить" />
                      </div>
                      Купить
                    </button>
                  </div>
                </div>
              </a>
            </div>
            <div class="popular-goods__swiper-slide swiper-slide">
              <a href="#" class="popular-goods__card-link">
                <div class="popular-goods__card">
                  <div class="popular-goods__card-img-box">
                    <img src="./assets/images/popular_goods_1.webp" alt="" />
                  </div>

                  <div class="popular-goods__card-content">
                    <p class="popular-goods__card-title">
                      Акриловый морозостойкий герметик Рустил Акрил 15 кг белый
                    </p>
                    <div class="popular-goods__card-price-box">
                      <div class="popular-goods__card-price-wrapper">
                        <p class="popular-goods__card-price text-sm">
                          <span class="popular-goods__card-price-num">680</span>
                          <span class="popular-goods__card-price-text"
                            >₽/шт.</span
                          >
                        </p>
                      </div>

                      <div
                        class="popular-goods__card-price-wrapper popular-goods__card-price-wrapper--wholesale"
                      >
                        <p class="popular-goods__card-wholesale-text">Опт:</p>
                        <p class="popular-goods__card-price">
                          <span class="popular-goods__card-price-num">630</span>
                          <span class="popular-goods__card-price-text"
                            >₽/шт.</span
                          >
                        </p>
                      </div>
                    </div>
                    <button class="popular-goods__card-btn button">
                      <div class="popular-goods__card-btn-svg-box">
                        <img src="./assets/images/icons/buy.svg" alt="Купить" />
                      </div>
                      Купить
                    </button>
                  </div>
                </div>
              </a>
            </div>
            <div class="popular-goods__swiper-slide swiper-slide">
              <a href="#" class="popular-goods__card-link">
                <div class="popular-goods__card">
                  <div class="popular-goods__card-img-box">
                    <img src="./assets/images/popular_goods_2.webp" alt="" />
                  </div>

                  <div class="popular-goods__card-content">
                    <p class="popular-goods__card-title">
                      Полиуретановый герметик Рустил 1К PU25 600 мл RAL7004
                    </p>
                    <div class="popular-goods__card-price-box">
                      <div class="popular-goods__card-price-wrapper">
                        <p class="popular-goods__card-price text-sm">
                          <span class="popular-goods__card-price-num">680</span>
                          <span class="popular-goods__card-price-text"
                            >₽/шт.</span
                          >
                        </p>
                      </div>

                      <div
                        class="popular-goods__card-price-wrapper popular-goods__card-price-wrapper--wholesale"
                      >
                        <p class="popular-goods__card-wholesale-text">Опт:</p>
                        <p class="popular-goods__card-price">
                          <span class="popular-goods__card-price-num">630</span>
                          <span class="popular-goods__card-price-text"
                            >₽/шт.</span
                          >
                        </p>
                      </div>
                    </div>
                    <button class="popular-goods__card-btn button">
                      <div class="popular-goods__card-btn-svg-box">
                        <img src="./assets/images/icons/buy.svg" alt="Купить" />
                      </div>
                      Купить
                    </button>
                  </div>
                </div>
              </a>
            </div>
            <div class="popular-goods__swiper-slide swiper-slide">
              <a href="#" class="popular-goods__card-link">
                <div class="popular-goods__card">
                  <div class="popular-goods__card-img-box">
                    <img src="./assets/images/popular_goods_1.webp" alt="" />
                  </div>

                  <div class="popular-goods__card-content">
                    <p class="popular-goods__card-title">
                      Акриловый морозостойкий герметик Рустил Акрил 15 кг белый
                    </p>
                    <div class="popular-goods__card-price-box">
                      <div class="popular-goods__card-price-wrapper">
                        <p class="popular-goods__card-price text-sm">
                          <span class="popular-goods__card-price-num">680</span>
                          <span class="popular-goods__card-price-text"
                            >₽/шт.</span
                          >
                        </p>
                      </div>

                      <div
                        class="popular-goods__card-price-wrapper popular-goods__card-price-wrapper--wholesale"
                      >
                        <p class="popular-goods__card-wholesale-text">Опт:</p>
                        <p class="popular-goods__card-price">
                          <span class="popular-goods__card-price-num">630</span>
                          <span class="popular-goods__card-price-text"
                            >₽/шт.</span
                          >
                        </p>
                      </div>
                    </div>
                    <button class="popular-goods__card-btn button">
                      <div class="popular-goods__card-btn-svg-box">
                        <img src="./assets/images/icons/buy.svg" alt="Купить" />
                      </div>
                      Купить
                    </button>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div
          class="swiper-button-prev popular-goods__swiper-button-prev btn-swiper"
        >
          <div
            class="popular-goods__swiper-button--svg-box btn-swiper__svg-box"
          >
            <svg
              viewBox="0 0 20 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18 7L2 7M2 7L7.77778 13M2 7L7.77778 0.999999"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div
          class="swiper-button-next popular-goods__swiper-button-next btn-swiper"
        >
          <div
            class="popular-goods__swiper-button--svg-box btn-swiper__svg-box"
          >
            <svg
              viewBox="0 0 20 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 8H18M18 8L12.2222 2M18 8L12.2222 14"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
