@import "./scss/fonts";
@import './scss/libs/normalize';
@import "./scss/libs/_set";
@import "./scss/general";



@import "./scss/components/header";
@import "./scss/components/popular_goods";
@import "./scss/components/trust_us";
@import "./scss/components/form";
@import "./scss/components/footer";
@import "./scss/components/modal";


@import "./scss/components/payment";
@import "./scss/components/delivery";
@import "./scss/components/article";
@import "./scss/components/popular_categories";
@import "./scss/components/price-list__main-page";
@import "./scss/components/characteristics";
@import "./scss/components/hero";
@import "./scss/components/product";
@import "./scss/components/about_main";
@import "./scss/components/reviews";
@import "./scss/components/recognized";
@import "./scss/components/about_hero";
@import "./scss/components/certificates";
@import "./scss/components/requisites";
@import "./scss/components/contacts";
@import "./scss/components/baloon";
@import "./scss/components/prices-page";
@import "./scss/components/catalog";
@import "./scss/components/error-page";
@import "./scss/components/info";